In [17]:
import pandas as pd
import json

In [18]:
# Available columns for LIP
LIP_columns = ('Time', 'Ex', 'Ey', 'Ez', 'Eq', 'Lat', 'Lon', 'Alt', 'Roll', 'Pitch', 'Heading')

In [19]:
def get_file_path(filename):
    bucket_src = "fcx-raw-data-temp"
    # bucket_src = os.environ.get('SOURCE_BUCKET_NAME')
    path_to_file="LIP/data"
    # path_to_file = os.environ.get('PATH_TO_LIP')
    return f"s3://{bucket_src}/{path_to_file}/{filename}"

def validate(request_columns):
    # validation
    for request_column in set(request_columns):
        if(not request_column in LIP_columns):
            return False
    return True

In [20]:
filename="goesr_plt_lip_20170517.txt"
request_columns=['Time', 'Eq']
s3path=get_file_path(filename)

In [21]:
DF = pd.read_csv(s3path, sep=", ", names=LIP_columns, index_col='Time', usecols=request_columns, engine='python')

In [22]:
DF

                            Eq
Time
2017-05-17 01:41:00.000    NaN
2017-05-17 01:41:00.100    NaN
2017-05-17 01:41:00.200    NaN
2017-05-17 01:41:00.300    NaN
2017-05-17 01:41:00.400    NaN
...                        ...
2017-05-17 09:58:57.500 -0.025
2017-05-17 09:58:57.600 -0.025
2017-05-17 09:58:57.700 -0.025
2017-05-17 09:58:57.800 -0.025
2017-05-17 09:58:57.900 -0.025

[296980 rows x 1 columns]

In [23]:
filtered = DF[DF['Eq'].notnull()]
filtered

                            Eq
Time
2017-05-17 01:42:00.000 -0.012
2017-05-17 01:42:00.100 -0.012
2017-05-17 01:42:00.200 -0.012
2017-05-17 01:42:00.300 -0.012
2017-05-17 01:42:00.400 -0.012
...                        ...
2017-05-17 09:58:57.500 -0.025
2017-05-17 09:58:57.600 -0.025
2017-05-17 09:58:57.700 -0.025
2017-05-17 09:58:57.800 -0.025
2017-05-17 09:58:57.900 -0.025

[224973 rows x 1 columns]

In [24]:
k = DF.to_json(orient='split')

In [29]:
kj = json.loads(k)
kj.keys()

dict_keys(['columns', 'index', 'data'])

In [31]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.plot(kj['index'], kj['data'])
plt.show()